.second{
    margin-top: 22px;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 52.666667%;
}


.wrapper .static-txt{
/* text-align: center; */
color: rgb(102, 98, 98);
font-size: 40px;
font-weight: 500;
}
.wrapper .static-txt1{
/* text-align: center; */
color: rgb(102, 98, 98);
font-size: 40px;
font-weight: 500;
margin-left: 127px
}
.wrapper .dynamic-txts{
margin-left: 15px;
height: 90px;
line-height: 90px;
overflow: hidden;
position: relative;
}
.dynamic-txts li{

list-style: none;
font-size: 67px;
font-weight: 500;
position: relative;
color:rgb(102, 98, 98);
top: 0;
animation:slide 12s steps(4) infinite;
}

@keyframes slide {
 100%{
  top: -360px;
} 
 
}
.dynamic-txts li span{
position: relative;
margin: 5px 0;
line-height: 69px;
}
.dynamic-txts li span::after{
content: "";
position: absolute;
left: 0;
height: 100%;
width: 100%;
background:white;
border-left: 1px solid #3a3838;
animation: typing 3s steps(10) infinite;
/* z-index: -1; */
}

@keyframes typing {
40%, 60%{
left: calc(100% + 30px);
}
100%{
left: 0;
}
}

.small-right-image {
float: right;
width: 599px; /* Adjust the width as needed */
margin-right: -78px;
}
